name: Build
on:
  push: {}
jobs:
  metaci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: ./generate_ci.sh
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]

  apple-neural-hash:
    needs: metaci
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apple-neural-hash
    steps:
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: actions/checkout@v4
    - run: |
        echo GOT=$(mktemp) >>$GITHUB_ENV
        EXPECTED=$(mktemp)
        base64 -d <<<'IDEgIDEgMjUgb3V0Cg==' >$EXPECTED
        echo EXPECTED=$EXPECTED >>$GITHUB_ENV
    - run: |
        DOCKER_BUILDKIT=1 docker build -o=. --build-arg IMAGE_URL='https://placekitten.com/200/140' - <Dockerfile && wc out 1>$GOT
      name: " with some JPEG"
    - run: |
        echo expected:
        cat -A $EXPECTED
        echo got:
        cat -A $GOT
        echo diff:
        diff --width=150 -y $EXPECTED $GOT
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]

    - run: |
        echo GOT=$(mktemp) >>$GITHUB_ENV
        EXPECTED=$(mktemp)
        base64 -d <<<'NTlhMzRlYWJlMzE5MTBhYmZiMDZmMzA4Cg==' >$EXPECTED
        echo EXPECTED=$EXPECTED >>$GITHUB_ENV
    - run: |
        DOCKER_BUILDKIT=1 docker build -o=. --build-arg IMAGE_URL=https://user-images.githubusercontent.com/1328/129860794-e7eb0132-d929-4c9d-b92e-4e4faba9e849.png - <Dockerfile && cat out 1>$GOT
      name: " pre-image example..."
    - run: |
        echo expected:
        cat -A $EXPECTED
        echo got:
        cat -A $GOT
        echo diff:
        diff --width=150 -y $EXPECTED $GOT
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]

    - run: |
        echo GOT=$(mktemp) >>$GITHUB_ENV
        EXPECTED=$(mktemp)
        base64 -d <<<'NTlhMzRlYWJlMzE5MTBhYmZiMDZmMzA4Cg==' >$EXPECTED
        echo EXPECTED=$EXPECTED >>$GITHUB_ENV
    - run: |
        DOCKER_BUILDKIT=1 docker build -o=. --build-arg IMAGE_URL=https://user-images.githubusercontent.com/1328/129860810-f414259a-3253-43e3-9e8e-a0ef78372233.png - <Dockerfile && cat out 1>$GOT
      name: " ...from https://github.com/AsuharietYgvar/AppleNeuralHash2ONNX/issues/1#issue-973388387"
    - run: |
        echo expected:
        cat -A $EXPECTED
        echo got:
        cat -A $GOT
        echo diff:
        diff --width=150 -y $EXPECTED $GOT
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]


  cargo-install:
    needs: metaci
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: cargo-install
    steps:
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: actions/checkout@v4
    - run: |
        echo GOT=$(mktemp) >>$GITHUB_ENV
        EXPECTED=$(mktemp)
        base64 -d <<<'PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PQogTGFuZ3VhZ2UgICAgICAgICAgICBGaWxlcyAgICAgICAgTGluZXMgICAgICAgICBDb2RlICAgICBDb21tZW50cyAgICAgICBCbGFua3MKPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PQogRG9ja2VyZmlsZSAgICAgICAgICAgICAgMSAgICAgICAgICAgNjAgICAgICAgICAgIDMzICAgICAgICAgICAyMiAgICAgICAgICAgIDUKPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PQogVG90YWwgICAgICAgICAgICAgICAgICAgMSAgICAgICAgICAgNjAgICAgICAgICAgIDMzICAgICAgICAgICAyMiAgICAgICAgICAgIDUKPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PQo=' >$EXPECTED
        echo EXPECTED=$EXPECTED >>$GITHUB_ENV
    - run: |
        DOCKER_BUILDKIT=1 docker build -o=. --build-arg CRATE=tokei --build-arg VERSION=12.1.2 - <Dockerfile && ( ./tokei && rm 'tokei' ) 1>$GOT
      name: " some binary crate"
    - run: |
        echo expected:
        cat -A $EXPECTED
        echo got:
        cat -A $GOT
        echo diff:
        diff --width=150 -y $EXPECTED $GOT
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]

    - run: |
        echo GOT=$(mktemp) >>$GITHUB_ENV
        EXPECTED=$(mktemp)
        base64 -d <<<'NAo=' >$EXPECTED
        echo EXPECTED=$EXPECTED >>$GITHUB_ENV
    - run: |
        DOCKER_BUILDKIT=1 docker build -o=. --build-arg CRATE=termtree --build-arg VERSION=0.4.0 --build-arg ARGs='--example tree --target x86_64-unknown-linux-musl' - <Dockerfile && ( ./tree | wc -l && rm 'tree' ) 1>$GOT
      name: " an example with a MUSL target"
    - run: |
        echo expected:
        cat -A $EXPECTED
        echo got:
        cat -A $GOT
        echo diff:
        diff --width=150 -y $EXPECTED $GOT
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]

    - run: |
        echo GOT=$(mktemp) >>$GITHUB_ENV
        EXPECTED=$(mktemp)
        base64 -d <<<'ZGllc2VsIDIuMC4wCg==' >$EXPECTED
        echo EXPECTED=$EXPECTED >>$GITHUB_ENV
    - run: |
        DOCKER_BUILDKIT=1 docker build -o=. --build-arg CRATE=diesel_cli --build-arg VERSION=2.0.0 --build-arg ARGs='--no-default-features --features postgres' - <Dockerfile && ( ./diesel --version && rm 'diesel' ) 1>$GOT
      name: " dynamically linked and setting some features"
    - run: |
        echo expected:
        cat -A $EXPECTED
        echo got:
        cat -A $GOT
        echo diff:
        diff --width=150 -y $EXPECTED $GOT
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]


  deepspeech:
    needs: metaci
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: deepspeech
    steps:
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: actions/checkout@v4
    - run: |
        echo GOT=$(mktemp) >>$GITHUB_ENV
        EXPECTED=$(mktemp)
        base64 -d <<<'WwoJewoJCSJkdXJhdGlvbiI6IDAuMSwKCQkic3RhcnRfdGltZSI6IDAuMjgsCgkJIndvcmQiOiAiaSIKCX0sCgl7CgkJImR1cmF0aW9uIjogMC4xNiwKCQkic3RhcnRfdGltZSI6IDAuNDIsCgkJIndvcmQiOiAia25vdyIKCX0sCgl7CgkJImR1cmF0aW9uIjogMC4xMiwKCQkic3RhcnRfdGltZSI6IDAuNjIsCgkJIndvcmQiOiAidGhhdCIKCX0sCgl7CgkJImR1cmF0aW9uIjogMC4xMiwKCQkic3RhcnRfdGltZSI6IDAuOCwKCQkid29yZCI6ICJ5b3UiCgl9LAoJewoJCSJkdXJhdGlvbiI6IDAuMTgsCgkJInN0YXJ0X3RpbWUiOiAwLjk4LAoJCSJ3b3JkIjogImFuZCIKCX0sCgl7CgkJImR1cmF0aW9uIjogMC4yOCwKCQkic3RhcnRfdGltZSI6IDEuMiwKCQkid29yZCI6ICJmcmFuayIKCX0sCgl7CgkJImR1cmF0aW9uIjogMC4xOCwKCQkic3RhcnRfdGltZSI6IDEuNTYsCgkJIndvcmQiOiAid2VyZSIKCX0sCgl7CgkJImR1cmF0aW9uIjogMC4yOCwKCQkic3RhcnRfdGltZSI6IDEuNzgsCgkJIndvcmQiOiAicGxhbm5pbmciCgl9LAoJewoJCSJkdXJhdGlvbiI6IDAuMTIsCgkJInN0YXJ0X3RpbWUiOiAyLjEsCgkJIndvcmQiOiAidG8iCgl9LAoJewoJCSJkdXJhdGlvbiI6IDAuNTYsCgkJInN0YXJ0X3RpbWUiOiAyLjMsCgkJIndvcmQiOiAiZGlzY29ubmVjdCIKCX0sCgl7CgkJImR1cmF0aW9uIjogMC42LAoJCSJzdGFydF90aW1lIjogMi45NCwKCQkid29yZCI6ICJtZSIKCX0sCgl7CgkJImR1cmF0aW9uIjogMC4xLAoJCSJzdGFydF90aW1lIjogMy42NCwKCQkid29yZCI6ICJhbmQiCgl9LAoJewoJCSJkdXJhdGlvbiI6IDAuMSwKCQkic3RhcnRfdGltZSI6IDMuODIsCgkJIndvcmQiOiAiaSdtIgoJfSwKCXsKCQkiZHVyYXRpb24iOiAwLjMyLAoJCSJzdGFydF90aW1lIjogNCwKCQkid29yZCI6ICJhZnJhaWQiCgl9LAoJewoJCSJkdXJhdGlvbiI6IDAuMiwKCQkic3RhcnRfdGltZSI6IDQuMzgsCgkJIndvcmQiOiAidGhhdCIKCX0sCgl7CgkJImR1cmF0aW9uIjogMC4zLAoJCSJzdGFydF90aW1lIjogNC42MiwKCQkid29yZCI6ICJzb21ldGhpbmciCgl9LAoJewoJCSJkdXJhdGlvbiI6IDAuMDgsCgkJInN0YXJ0X3RpbWUiOiA1LjA0LAoJCSJ3b3JkIjogImkiCgl9LAoJewoJCSJkdXJhdGlvbiI6IDAuMjQsCgkJInN0YXJ0X3RpbWUiOiA1LjE4LAoJCSJ3b3JkIjogImNhbm5vdCIKCX0sCgl7CgkJImR1cmF0aW9uIjogMC4yNiwKCQkic3RhcnRfdGltZSI6IDUuNDgsCgkJIndvcmQiOiAiYWxsb3ciCgl9LAoJewoJCSJkdXJhdGlvbiI6IDAuMDgsCgkJInN0YXJ0X3RpbWUiOiA1LjgsCgkJIndvcmQiOiAidG8iCgl9LAoJewoJCSJkdXJhdGlvbiI6IDAuMTYsCgkJInN0YXJ0X3RpbWUiOiA1Ljk0LAoJCSJ3b3JkIjogImhhdmUiCgl9Cl0K' >$EXPECTED
        echo EXPECTED=$EXPECTED >>$GITHUB_ENV
    - run: |
        DOCKER_BUILDKIT=1 docker build -o=. --build-arg AUDIO_URL=https://www.wavsource.com/snds_2020-10-01_3728627494378403/movies/2001/disconnect_me.wav - <Dockerfile && ( cat out | jq -S --tab '.transcripts[0].words' && rm out ) 1>$GOT
    - run: |
        echo expected:
        cat -A $EXPECTED
        echo got:
        cat -A $GOT
        echo diff:
        diff --width=150 -y $EXPECTED $GOT
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]


  primitive:
    needs: metaci
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: primitive
    steps:
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: actions/checkout@v4
    - run: |
        echo GOT=$(mktemp) >>$GITHUB_ENV
        EXPECTED=$(mktemp)
        base64 -d <<<'RG9ja2VyZmlsZQpvdXRwdXQuc3ZnCg==' >$EXPECTED
        echo EXPECTED=$EXPECTED >>$GITHUB_ENV
    - run: |
        DOCKER_BUILDKIT=1 docker build --output=type=local,dest=. --build-arg IMG_URL='https://img.freepik.com/free-vector/hand-drawn-fresh-pineapple-vector_53876-108732.jpg?t=st=1728727735~exp=1728731335~hmac=8c5e57ed27047cf4e179a33d9c010b2a624a9f9502c181b278c7b4cace21e1d5&w=740' --build-arg ARGs='-o output.svg -n 99 -m 6 -v -bg FFF -rep 9' - <Dockerfile && ( ls -1 . && rm output.svg ) 1>$GOT
    - run: |
        echo expected:
        cat -A $EXPECTED
        echo got:
        cat -A $GOT
        echo diff:
        diff --width=150 -y $EXPECTED $GOT
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]


  reinforcement-learning-gym-stable-baselines3:
    needs: metaci
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: reinforcement-learning-gym-stable-baselines3
    steps:
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: actions/checkout@v4
    - run: |
        echo GOT=$(mktemp) >>$GITHUB_ENV
        EXPECTED=$(mktemp)
        base64 -d <<<'RG9ja2VyZmlsZQpwcG8KdGVuc29yYm9hcmQK' >$EXPECTED
        echo EXPECTED=$EXPECTED >>$GITHUB_ENV
    - run: |
        DOCKER_BUILDKIT=1 docker build -o=. --build-arg ARGs='-n 100' --progress=plain - <Dockerfile && ( ls -1 . && rm -r ppo tensorboard ) 1>$GOT
    - run: |
        echo expected:
        cat -A $EXPECTED
        echo got:
        cat -A $GOT
        echo diff:
        diff --width=150 -y $EXPECTED $GOT
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]


  sci-hub:
    needs: metaci
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: sci-hub
    steps:
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: actions/checkout@v4
    - run: |
        echo GOT=$(mktemp) >>$GITHUB_ENV
        EXPECTED=$(mktemp)
        base64 -d <<<'Li9uYXdhejIwMjAucGRmCi4vMTAuMTAxNkBqLnNvbGVuZXIuMjAyMC4wNy4wMTEucGRmCg==' >$EXPECTED
        echo EXPECTED=$EXPECTED >>$GITHUB_ENV
    - run: |
        DOCKER_BUILDKIT=1 docker build -o=. --build-arg ARGs='https://doi.org/10.1016/j.solener.2020.07.011 https://doi.org/10.3390/jsan9030035' - <Dockerfile && ( ls -1t ./*.pdf; rm ./*.pdf ) 1>$GOT
      name: " some papers"
    - run: |
        echo expected:
        cat -A $EXPECTED
        echo got:
        cat -A $GOT
        echo diff:
        diff --width=150 -y $EXPECTED $GOT
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]


  youtube-dl:
    needs: metaci
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: youtube-dl
    steps:
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: actions/checkout@v4
    - run: |
        echo GOT=$(mktemp) >>$GITHUB_ENV
        EXPECTED=$(mktemp)
        base64 -d <<<'RG9ja2VyZmlsZQpFcmxhbmcgLSBUaGUgTW92aWUgKEZpeGVkIEF1ZGlvKS1CWG1PbEN5MG9CTS5tcDQKUmljayBBc3RsZXkgLSBOZXZlciBHb25uYSBHaXZlIFlvdSBVcCAoT2ZmaWNpYWwgTXVzaWMgVmlkZW8pLWRRdzR3OVdnWGNRLm1wNAo=' >$EXPECTED
        echo EXPECTED=$EXPECTED >>$GITHUB_ENV
    - run: |
        DOCKER_BUILDKIT=1 docker build -o=. --build-arg ARGs='--format mp4 -- https://www.youtube.com/watch?v=BXmOlCy0oBM https://www.youtube.com/watch?v=dQw4w9WgXcQ' - <Dockerfile && ( ls -1 . && rm 'Erlang - The Movie (Fixed Audio)-BXmOlCy0oBM.mp4' 'Rick Astley - Never Gonna Give You Up (Official Music Video)-dQw4w9WgXcQ.mp4' ) 1>$GOT
    - run: |
        echo expected:
        cat -A $EXPECTED
        echo got:
        cat -A $GOT
        echo diff:
        diff --width=150 -y $EXPECTED $GOT
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]


  yt-dlp:
    needs: metaci
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: yt-dlp
    steps:
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: actions/checkout@v4
    - run: |
        echo GOT=$(mktemp) >>$GITHUB_ENV
        EXPECTED=$(mktemp)
        base64 -d <<<'RG9ja2VyZmlsZQpFcmxhbmfvvJogVGhlIE1vdmllIChGaXhlZCBBdWRpbyktQlhtT2xDeTBvQk0ubXA0ClJpY2sgQXN0bGV5IC0gTmV2ZXIgR29ubmEgR2l2ZSBZb3UgVXAgKE9mZmljaWFsIE11c2ljIFZpZGVvKS1kUXc0dzlXZ1hjUS5tcDQK' >$EXPECTED
        echo EXPECTED=$EXPECTED >>$GITHUB_ENV
    - run: |
        DOCKER_BUILDKIT=1 docker build --output=type=local,dest=. --build-arg ARGs='--format mp4/bestvideo*+bestaudio/best -- https://www.youtube.com/watch?v=BXmOlCy0oBM https://www.youtube.com/watch?v=dQw4w9WgXcQ' - <Dockerfile && ( ls -1 . && rm 'Erlangï¼š The Movie (Fixed Audio)-BXmOlCy0oBM.mp4' 'Rick Astley - Never Gonna Give You Up (Official Music Video)-dQw4w9WgXcQ.mp4' ) 1>$GOT
    - run: |
        echo expected:
        cat -A $EXPECTED
        echo got:
        cat -A $GOT
        echo diff:
        diff --width=150 -y $EXPECTED $GOT
    - run: git status -sb && [[ 1 -eq $(git status -sb | wc -l) ]]

